body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: Open Sans, Gentium Book Basic, Libre Baskerville, sans-serif;
    font-size: 16px;
    
}



/* ----------------------------------------- */
/*         container responsitivity          */
/* ----------------------------------------- */

@media all and (min-width: 1150px) {
    .container{
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
	    width: 1100px;
    }
}

@media all and (min-width: 769px) and (max-width: 1149px) {
    .container{
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 30px);
    }
}

@media all and (max-width: 768px) and (min-width: 200px) {
    .container {
        width: 100%;
    }
}



/* ----------------------------------------- */
/*                  general                  */
/* ----------------------------------------- */

img {
    vertical-align: top;
}




/* ----------------------------------------- */
/*             homepage-pic                  */
/* ----------------------------------------- */



.current-img > img {
    width: 100%;
    position: relative;
    
}

.content {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 0px 3px 8px black;
    font-family: Open Sans;
    letter-spacing: 7px;
}

h1 {
    font-weight: 300;
    font-size: 80px;
    margin: -5px;
    line-height: 110%;
    text-transform: uppercase;
}


h3 {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 30px;
    margin: 0;
    font-family: Libre Baskerville;
}

.overlay {
    position: absolute;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    transition: all 0.2s ease;
}


@media all and (min-width: 769px) and (max-width: 1149px) {
h1 {
        transform: scale(0.7);
        margin: -15px;
        line-height: 60px;
    }
}

@media all and (max-width: 768px) and (min-width: 200px) {
h1 {
        transform: scale(0.6);
        line-height: 90px;
        margin: -25px;
    }
}

@media all and (max-width: 1149px) {
h2 {
        transform: scale(0.85)
    }
}

@media all and (max-width: 1149px) {
h3 {
        transform: scale(0.9);
        font-weight: 600;
        
    }
}

@media all and (max-width: 768px) and (min-width: 200px) and (min-width: 200px){
    .content {
        position: relative;
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 30px;
        margin-bottom: -60px;
        transform: translateY(-0%);
        color: #000;
        text-shadow: none;
        font-family: Open Sans;
        letter-spacing: 4px;
        padding-bottom: 40px;
        
    }
}

@media all and (max-width: 768px) and (min-width: 200px) and (min-width: 200px){
    .content:hover {
        text-decoration: underline;
    }
}

@media all and (max-width: 768px) and (min-width: 200px){
    .overlay {
        display: none;
        
    }
}

.current-img:hover > .overlay {
    background-color: rgba(0,0,0,0.6);
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

.previous-exhibit {
    position: relative;
    margin: 20px 0 20px 0;
}

.previous-exhibit h1 {
    font-size: 60px;
}


/* ----------------------------------------- */
/*             content-wrapper               */
/* ----------------------------------------- */

.main-content-wrapper {
    position: relative;
    z-index: 1;
    border: none;
    margin-top:50px;
}



.text-box {
    font-family: Libre Baskerville;
    letter-spacing: 0px;
    text-align: left;
    line-height: 2em;
    margin-top: 30px;
}

.secondary-content-wrapper {
    font-family: Open Sans;
    letter-spacing: 4px;
    text-align: center;
    position: relative;
    padding: 0;
    margin-top: 60px;
    z-index: 1;
    
}

.footer-wrapper {
    font-family: Open Sans;
    letter-spacing: 4px;
    text-align: center;
    position: relative;
    padding: 0;
    z-index: 1;
    color: gray;

}

.secondary-content-wrapper > h3 {
    color: gray;
    padding-bottom: 20px;
}

.spacer {
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid #ccc;
}

@media all and (min-width: 1149px) {
    .secondary-content-wrapper{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}

@media all and (min-width: 769px) and (max-width: 1149px) {
    .secondary-content-wrapper{
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
}


@media all and (max-width: 768px) and (min-width: 200px) {
    .secondary-content-wrapper{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
